{% extends 'base.html' %}
{% block content %}
    <div class="prod-detail">
        <div class="top__container">
            <div class="tov_name">
                <h1 class="top_tov_name">Gigabyte Z690 GAMING X DDR4 ATX</h1>
            </div>
            <div class="all_about">
                <p>Все про товар</p>
            </div>
            <div class="tov_content">
                <div class="tov_slider">
                    <div class="secondary_slider">
                        <div class="first_slide mini_slide">
                            <img src="/media/secondary_sl.png" alt="">
                        </div>
                        <div class="second_slide mini_slide active_slide">
                            <img src="/media/secondary_slider2.png" alt="">
                        </div>
                    </div>
                    <div class="main_slider">
                        <img src="/media/main_sl.png" alt="">
                    </div>
                </div>
                <div class="tov_description">
                    <div class="price">
                        8 049
                    </div>
                    <div class="add_cart_btn">
                        <button class="add_btn">
                            Додати у кошик
                        </button>
                    </div>
                    <div class="parameters">
                        <div class="name_parameters">
                            <h3>Основнi параметри</h3>
                        </div>
                        <div class="value_list">
                            <div class="rapam_value">
                                <div class="value_article">
                                    Виробник
                                </div>
                                <div class="value">
                                    Gigabyte
                                </div>
                            </div>
                            <div class="rapam_value">
                                <div class="value_article">
                                    Платформа
                                </div>
                                <div class="value">
                                    Intel
                                </div>
                            </div>
                            <div class="rapam_value">
                                <div class="value_article">
                                    Роз'єм (Socket)
                                </div>
                                <div class="value">
                                    LGA 1700
                                </div>
                            </div>
                            <div class="rapam_value">
                                <div class="value_article">
                                    Форм-фактор
                                </div>
                                <div class="value">
                                    АТХ
                                </div>
                            </div>
                            <div class="rapam_value">
                                <div class="value_article">
                                    Чіпсет
                                </div>
                                <div class="value">
                                    Z690
                                </div>
                            </div>
                            <div class="rapam_value">
                                <div class="value_article">
                                    Кількість фаз живлення
                                </div>
                                <div class="value">
                                    14
                                </div>
                            </div>
                            <div class="name_parameters">
                                <h3>Оперативна пам’ять</h3>
                            </div>
                            <div class="rapam_value">
                                <div class="value_article">
                                    Тип пам’яті
                                </div>
                                <div class="value">
                                    DDR4
                                </div>
                            </div>
                            <div class="rapam_value">
                                <div class="value_article">
                                    Кількість слотів
                                </div>
                                <div class="value">
                                    4
                                </div>
                            </div>
                            <div class="rapam_value">
                                <div class="value_article">
                                    Кількість каналів
                                </div>
                                <div class="value">
                                    2
                                </div>
                            </div>
                            <div class="rapam_value">
                                <div class="value_article">
                                    Максимальна чистота
                                </div>
                                <div class="value">
                                    5333 МГц
                                </div>
                            </div>
                            <div class="rapam_value">
                                <div class="value_article">
                                    Максимальный обсяг
                                </div>
                                <div class="value">
                                    128 гб
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}