{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="header">
    <div class="pos_logo">
        <img class="logo_shop" src="{% static 'img/logo2.png' %}" alt="">
    </div>
    <ul class="head-text">
        <li>
            <form action="{% url 'search' %}" method="get" class="search-form">
                <input class="search" type="text" name="search-prod"
                       placeholder="{% if search_prod %}{{ search_prod }}{% else %}Введіть назву товару...{% endif %}">
                <button type="submit" class="button-header"></button>
            </form>
        </li>
    </ul>
    <ul class="last-pos">
        <li class="bucket">
            <a href="#popup">
                <svg width="28" height="28" class="bi-basket"
                     viewBox="0 0 16 16">
                    <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
                </svg>
                <div class="num-bucket">{{ cart|length }}</div>
            </a>
        </li>
        <li>
            {% if request.user.is_authenticated %}
                <a href="{% url 'cabinet' %}">
                    <svg width="36" height="36" class="bi-person"
                         viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                    </svg>
                </a>
            {% else %}
                <a href="{% url 'login' %}">
                    <svg width="36" height="36" class="bi-person"
                         viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                    </svg>
                </a>
            {% endif %}
        </li>
    </ul>
    <div id="popup" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <a href="##" class="popup__close">X</a>
                <div class="popup__title">Кошик</div>
                <hr size="1px" color="black">
                <div class="scroll-popup" id="view-popup">
                    {% if cart %}
                        {% for item in cart %}
                            {% with product=item.product %}
                                <div class="popup__product">
                                    <div class="popup__basket_imgpos">
                                        <a href="{{ product.get_absolute_url }}">
                                            <img class="img__popup" src="{{ product.photo.url }}">
                                        </a>
                                    </div>
                                    <div class="popup__name">
                                        <a class="color-name" href="{{ product.get_absolute_url }}">
                                            {{ product.name }}
                                        </a>
                                    </div>
                                    <div class="popup__count">
                                        <form action="{% url 'cart:cart_add' product.slug %}" method="post">
                                            <div class="popup__quantity">
                                                {{ item.update_quantity_form.quantity }}
                                                {{ item.update_quantity_form.update }}
                                                <input class="popup__basket-update" type="submit" value="Обновить">
                                            </div>
                                            {% csrf_token %}
                                        </form>
                                    </div>
                                    <div class="popup__price">
                                        {{ item.total_cost }}
                                    </div>
                                    <a class="popup__remove" href="javascript:void(0);" tabindex="1">⋮</a>
                                    <a class="sub-menu" href="{% url "cart:cart_remove" product.slug %}">
                                        <li class="popup_link_remove">Видалити</li>
                                    </a>
                                </div>
                            {% endwith %}
                        {% endfor %}
                    {% else %}
                        <div class="basket-empty">Корзина пуста</div>
                    {% endif %}
                </div>
                {% if cart %}
                    <div class="popup__under__content">
                        <div class="total-price-popup">Ціна замовлення: {{ cart.get_total_price }}</div>
                        <a href="{% url 'orders:order_create' %}" class="popup__button_basket">Оформити заказ</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <a href="##" class="popup__area"></a>
    </div>
</div>
<div id="head-left" class="area"></div>
<nav class="main-menu">
    <ul>
        <li>
            <a href="{% url 'home' %}">
                <i class="fa fa-folder"></i>
                <span class="nav-text">
                    Головна сторінка
                </span>
            </a>
        </li>
        <li>
            <a href="{% url 'categories' %}">
                <i class="fa fa-inbox"></i>
                <span class="nav-text">
                    Категорії
                </span>
            </a>
        </li>
        <li>
            {% if request.user.is_authenticated %}
                <a href="{% url 'cart:cart_detail' %}">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="nav-text">
                    Корзина
                </span>
                </a>
            {% else %}
                <a href="#popup">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="nav-text">
                    Корзина
                </span>
                </a>
            {% endif %}
        </li>
        <li>
            {% if request.user.is_authenticated %}
                <a href="{% url 'categories' %}">
                    <i class="fa fa-home"></i>
                    <span class="nav-text">
                    Особистий кабінет
                </span>
                </a>
            {% endif %}
        </li>
        {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'orders_user' %}">
                    <i class="fa fa-list"></i>
                    <span class="nav-text">
                    Список заказів
                </span>
                </a>
            </li>
        {% endif %}
    </ul>

    <ul class="logout">
        <li>
            {% if request.user.is_authenticated %}
                <a href={% url 'logout' %}>
                    <i class="fa fa-power-off"></i>
                    <span class="nav-text">
                    Logout
                </span>
                </a>
            {% else %}
                <a href={% url 'login' %}>
                    <i class="fa fa-user"></i>
                    <span class="nav-text">
                    Login
                </span>
                </a>
            {% endif %}
        </li>
    </ul>
</nav>
{% block content %}
{% endblock %}
</body>
</html>