{% extends 'base.html' %}
{% block content %}
    <div class="try">
        <div class="account-person">
            <a href={% url 'cabinet' %}>
                <div class="person {% block cabinet %} {% endblock %}">
                    Ім'я: {{ user.get_username }}
                </div>
            </a>
            <a href={% url 'home' %}>
                <div class="person">
                    Мої замовлення
                </div>
            </a>
            <a href='{% url 'cart:cart_detail' %}'>
                <div class="person{% block basket %} {% endblock %}">
                    Список бажань
                </div>
            </a>
            <a href={% url 'home' %}>
                <div class="person">
                    Переглянуті товари
                </div>
            </a>
            {% if request.user.is_staff %}
                <a href={% url 'stuff_form' %}>
                    <div class="person {% block stuff_form %} {% endblock %}">
                        Добавить товар
                    </div>
                </a>
            {% endif %}
        </div>
        <div class="content-acc">
            {% block prod %}
            {% endblock %}
        </div>
    </div>
{% endblock %}