{% extends 'base.html' %}
{% block content %}
    <div class="prod-detail">
        <div class="top__container">
            <div class="tov_name">
                <h1 class="top_tov_name">{{ product.name }}</h1>
            </div>
            <div class="all_about">
                <p>Все про товар</p>
            </div>
            <div class="tov_content">
                <div class="tov_slider">
                    <div class="secondary_slider">
                        <div class="first_slide mini_slide active_slide">
                            <img class="min-sl" src="{{ product.photo.url }}" alt="">
                        </div>
                    </div>
                    <div class="main_slider">
                        <img class="main-sl" src="{{ product.photo.url }}" alt="">
                    </div>
                </div>
                <div class="tov_description">
                    <div class="price">
                        {{ product.cost }}
                    </div>
                    <div class="add_cart_btn">
                        <form action="{% url 'cart:cart_add' product.slug %}" method="post">
                            <button type="submit" class="add_btn">Добавить в корзину</button>
                            {% for cart in cart_product_form %}
                                {{ cart }}
                            {% endfor %}
                            {% csrf_token %}

                        </form>
                    </div>
                    <div class="parameters">
                        <div class="name_parameters">
                            <h3>Параметри</h3>
                        </div>
                        <div class="value_list">
                            {% for prod, prod1 in product.content_split.items %}
                                <div class="rapam_value">
                                    <div class="value_article">
                                        {{ prod }}
                                    </div>
                                    <div class="value">
                                        {{ prod1 }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}