{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="prod-detail">
        <div class="top__container">
            <div class="tov_name">
                <h1 class="top_tov_name">{{ product.name }}</h1>
            </div>
            <div class="all_about">
                {% block all_about %}
                    <p class="not-active active">Все про товар</p>
                    <p class="not-active"><a href="{% url 'comment_user' product.slug %}"
                                             class="color-comment">Відгуки({{ review }})</a></p>
                {% endblock %}
            </div>
            <div class="tov_content">
                <div class="tov_slider">
                    <div class="secondary_slider">
                        <div class="first_slide mini_slide active_slide">
                            <img class="min-sl" src="{{ product.photo.url }}" alt="">
                        </div>
                    </div>
                    <div class="main_slider">
                        <img class="main-sl" src="{{ product.photo.url }}" alt="">
                    </div>
                </div>
                <div class="tov_description">
                    <div class="price">
                        {{ product.cost }}
                    </div>
                    <form action="{% url 'cart:cart_add' product.slug %}" method="post">
                        <button type="submit" class="add_btn">Добавить в корзину</button>
                        {% for cart in cart_product_form %}
                            {{ cart }}
                        {% endfor %}
                        {% csrf_token %}
                    </form>
                    {% if rating %}
                        <div class="rating">
                            <div class="rating_body">
                                <div class="rating_active"></div>
                                <div class="rating_items"></div>
                            </div>
                            <div class="rating_value">{{ rating }}</div>
                            <script src={% static 'Js/rating.js' %}></script>
                        </div>
                    {% endif %}
                    <div class="parameters">
                        <div class="name_parameters">
                            <h3>Параметри</h3>
                        </div>
                        <div class="value_list">
                            {% for prod, prod2 in product.content.items %}
                                <div class="rapam_value">
                                    <div class="value_article">
                                        {{ prod }}
                                    </div>
                                    <div class="value">
                                        {{ prod2 }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}