{% extends 'base.html' %}
{% block content %}
    <div class="form-acc">
        <div class="account-head">
            <p style="font-size: 24px; margin-bottom: -10px;">Регистрація</p>
            <p style="margin-bottom: 0">Заповніть форму щоб зареєструватись.</p>
            <hr color="#E0FFF" size="1px">
        </div>
        <div class="inp-acc">
            <input type="text" class="label-inp" placeholder="Введіть username">
            <input type="password" class="label-inp" placeholder="Введіть Пароль">
            <button class="button-reg">Зареєструватися</button>
            <div class="have-acc">
                <a href="{% url 'register' %}" class="login-reg">
                    <div class="tester">В мене вже э аккаунт</div>
                    Ввійти</a>
            </div>
        </div>
    </div>
{% endblock %}