{% extends 'base.html' %}
{% block content %}
    <div class="error-reg">
    {{ form.non_field_errors }}
    </div>
    <div class="form-acc">
        <div class="account-head">
            <p style="font-size: 24px; margin-bottom: -10px;">Авторизація</p>
            <p style="margin-bottom: 0">Заповніть форму щоб ввійти в аккаунт.</p>
            <hr color="#E0FFF" size="1px">
        </div>
        <div class="inp-acc">
            <form method="post">
                {% csrf_token %}
                {% for f in form %}
                    <p><label class="reg-label" for="{{ f.id_for_label }}"></label>{{ f }}</p>
                {% endfor %}
                <button class="button-reg">Ввійти</button>
                <div class="have-acc">
                    <a href="{% url 'register' %}" class="login-reg">
                        <div class="tester">В мене ще немає аккаунта</div>
                        Зареєструватися</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}