{% extends 'base.html' %}
{% block content %}
    <div class="product">
        {% for cat in categories %}
            <div class="content-product prod">
                <a href="{{ cat.get_absolute_url }}">
                    <div class="img-product">
                        {% if cat.photo %}
                            <img class="img-prod" src="{{ cat.photo.url }}">
                        {% endif %}
                    </div>
                    <div class="text-cat">
                        {{ cat.name }}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}