{% extends 'base.html' %}
{% block content %}
    <div class="product">
        {% for prod in product %}
            <div class="content-categories">
                <a href="#">
                    <div class="categories-img">
                        {% if prod.photo %}
                            <img class="img-cat" src="{{ prod.photo.url }}">
                        {% endif %}
                    </div>
                    <div class="text-cat">
                        {{ prod.name }}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}