{% extends 'base.html' %}
{% block content %}
    <div class="product">
        {% for prod in product %}
            <div class="content-product">
                <a href="{{ prod.get_absolute_url }}">
                    <div class="img-product">
                        <img class="img-prod" src="{{ prod.photo.url }}">
                    </div>
                    <div class="text-prod">
                        {{ prod.name }}
                    </div>
                    <div class="cost-prod">
                        {{ prod.cost }}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}